body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *:focus {
    outline: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
$primaty-color: #fffdf0;
$secondary-color: #2a2723;
$accent: #f0621f;
$grey: #bab3b5;

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  height: 12vh;
  background-color: $secondary-color;
  img {
    height: 80%;
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
}

.card-element {
  border: 1px solid white;
  display: grid;
  grid-template-areas:
    "numberofbeer img title"
    "numberofbeer img alc"
    "numberofbeer img price";
  grid-template-columns: 10% 1fr 1fr;
  img {
    grid-area: img;
    width: 90%;
  }
  .number-of-beers {
    visibility: hidden;
    width: 0;
  }
  &.beers-added {
    .number-of-beers {
      visibility: none;
      width: auto;
      grid-area: numberofbeer;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 3px solid $accent;
      padding-right: 5px;
    }
  }
  .alc {
    grid-area: alc;
  }
  .price {
    grid-area: price;
  }
  .desc,
  .add-beer {
    display: none;
  }
  &.open-menu {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "close-beer-button close-beer-button"
      "img img"
      "beername beername"
      "alc alc"
      "desc desc"
      "price addbeer";
    .desc,
    .add-beer {
      display: inline;
      animation: openMenu 1s ease-in forwards;
    }
    .add-beer {
      justify-content: center;
      grid-column: 2/3;
      display: inline-flex;
      margin-top: 1em;
      grid-row: 6/7;
    }
    .desc {
      grid-area: desc;
    }

    img {
      margin: auto;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 0;
      animation: openImg 0.5s ease forwards;
    }
    .beername {
      grid-column: 1/3;
      grid-row: 3/4;
      margin-left: 1.2em;
      font-size: 26px;
      margin-top: 0;
    }
    .alc {
      grid-column: 1/3;
      grid-row: 4/5;
      margin-left: 2em;
    }
    .price {
      margin-left: 1.6em;
      font-size: 20px;
      margin-top: 1em;
    }
    .close-beer-button {
      display: block;
      grid-column: 2/3;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      font-size: 30px;
      color: #f0621f;
      margin-left: 2em;
    }
  }
}

@keyframes openMenu {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes openImg {
  from {
    transform: translateX(-50%);
    width: 40%;
  }
  to {
    transform: translateX(0);
    width: 60%;
  }
}

#order-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
}

button {
  cursor: pointer;
  padding: 1em;
}

form label {
  display: flex;
  flex-direction: column;
}

img.ticket {
  width: 60%;
}
@font-face {
  font-family: "Montserrat-R";
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-B";
  src: url(assets/fonts/Montserrat-Bold.ttf);
}

:root {
  --bg: white;
  --text-color: #2a2723;
}

.desc {
  font-family: "Montserrat-R";
  color: #2a2723;
  margin-left: 2em;
  margin-right: 1em;
  line-height: 1.5em;
  font-size: 16px;
  margin-top: 0;
}

.price {
  font-family: "Montserrat-B";
  color: #f0621f;
  font-size: 20px;
  margin-top: 0;
}

.beername {
  font-family: "Montserrat-B";
  color: #2a2723;
  font-size: 20px;
  margin-top: 3em;
  padding: 0;
  margin-bottom: 0;
  margin-right: 2em;
}

.alc {
  font-family: "Montserrat-B";
  color: #2a2723;
  font-size: 16px;
  margin-top: 0;
}

.main-title,
.order-summary {
  font-family: "Montserrat-B";
  font-size: 24px;
  margin-left: 1em;
  margin-top: 1em;
}

.button-price,
.button-popular {
  font-family: "Montserrat-B";
  background-color: #fefefe;
  box-shadow: 0px -1px 21px -8px rgba(0, 0, 0, 0.75);
  margin-top: 1em;
}

.add-beer > .minus,
.plus {
  color: #fefefe;
  margin: 0.3em;
  background-color: #f0621f;
  font-family: "Montserrat-B";
  font-size: 20px;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  text-align: center;
  padding: 0.3em;
  border: 1px solid #2a2723;
}

.beer-amount {
  font-family: "Montserrat-B";
  font-size: 18px;
}

#order-summary {
  background-color: #2a2723;
  color: #fefefe;
  font-size: 16px;
  font-family: "Montserrat-B";
}

.total {
  color: #fefefe;
  font-family: "Montserrat-B";
  font-size: 16px;
}

//Order Summary

.close-btn {
  border: none;
  background: none;
  font-size: 24px;
  color: #f0621f;
  padding: 0;
}

.close-beer-button {
  display: none;
}

#frontpage {
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: $primaty-color;
  padding: 1em;
  padding-top: 6em;
  text-align: center;
  h1 {
    color: $accent;
    font-size: 28px;
  }
  h2 {
    padding: 1em 1.5em 2em 1.5em;
    font-size: 20px;
  }
  button {
    margin-top: 6em;
    font-family: "Montserrat-B";
    background-color: #fefefe;
    box-shadow: 0px -1px 10px -8px rgba(0, 0, 0, 0.75);
  }
  &.hidden {
    animation: hideFrontpage 1s ease-out forwards;
  }
  #loader {
    width: 40%;
    margin: auto;
  }
  .loader-element {
    height: 1em;
    width: 1em;
    background-color: $accent;
  }
}

@keyframes hideFrontpage {
  to {
    transform: translateY(-100vh);
  }
}

.frontpage-shown {
  height: 100vh;
  overflow: hidden;
}

.valid {
  outline: 4px solid green;
}

.invalid {
  outline: 4px solid red;
}
